.section-education {
  margin: auto;
  max-width: 1200px;
  min-width: 800px;
  width: 100%;
  padding: 30px ;
  margin-bottom: 20px;
}

.education-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  position: relative;
  padding: 50px 50px;
  box-sizing: border-box;
}

.education-item {
  background: var(--kg-color-white);
  padding: 50px;
  border-top-left-radius: var(--kg-radius-md);
  border-bottom-right-radius: var(--kg-radius-md);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(50% - 3em);
  box-sizing: border-box;
  position: relative;
}

.education-logo {
  position: absolute;
  top: -15%;
  right: 85%;
  width: 6rem; 
  height: auto;
  border-radius: 50%;
}


.degree {
  font-size: var(--kg-font-size-h3);
  color: var(--kg-text-terciary);
}

.school {
  font-size: var(--kg-font-size-h4);
  color: var(--kg-text-secondary);
  margin: 5px 0;
}

.dates-education {
  font-size: var(--kg-font-size-p);
  color:var(--kg-text-terciary);
}

.description-education {
  font-size:var(--kg-font-size-p);
  color:var(--kg-text-terciary);
}
