.button {
  min-width: 130px;
  height: 40px;
  color: var(--kg-color-terciary);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: var(--kg-radius-md);
  border: 2px solid var(--kg-color-secondary);
  background:var(--kg-color-secondary);
}
.button:hover {
  background:var(--kg-color-terciary);
  color: var(--kg-color-primary);
}
