.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--kg-bg-primary);
  color: var(--kg-text-terciary);
  text-align: center;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 2;
}

.header-logo img {
  width: 8rem;
  margin: 30px 50px;
}

.header-logo:hover {
  transform:scale(1.2);
  transition: 1s;
  rotate:initial;
  cursor: pointer;
}

.header-menu, 
.header-menu-login{
  display: flex;
  gap: 20px;
  font-size: var(--kg-font-size-text);
  margin-right: 50px;
}

.header-menu a,
.header-menu-login a {
  color: var(--kg-text-terciary);
  text-decoration: none;
  cursor: pointer;
}

.header-menu a:hover,
.header-menu-login a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  text-shadow: 0 0 30px var(--kg-text-primary);
}

