

.formulario-contacto {
  padding: var(--kg-padding-lg);
  background: var(--kg-color-primary);
  border-top-left-radius: var(--kg-radius-md);
  border-bottom-right-radius: var(--kg-radius-md);
  box-shadow: 0 0 10px var(--kg-color-terciary);
  width: 60%;
  margin: auto;
}

.campo {
  width: 100%;
  padding: var(--kg-padding-sm);
  margin-bottom: 20px;
  background: var(--kg-color-primary);
  border-top-left-radius: var(--kg-radius-md);
  border-bottom-right-radius: var(--kg-radius-md);
  font-size: var(--kg-font-size-text);
}

.mensaje {
  height: 6rem;
}
