.dark {
  background-color: var(--kg-bg-terciary);
  color: var(--kg-text-primary);
}

#mainnav ul {
  position: fixed;
  bottom: 90px;
  right: 85%;
  z-index: 4;
}

#mainnav li {
  list-style: none;
  margin: 0.5em;
  text-align: start;
}

#mainnav li:hover span {
  opacity: 3;
  transition: 0.35s;
}

#mainnav li.invisible {
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s;
}
#mainnav li.animate {
  opacity: 0;
  animation-duration: 0.35s;
  animation-name: easeOutBounce;
  animation-fill-mode: forwards;
}
#mainnav li.animate:nth-child(1) {
  animation-delay: 0s;
}
#mainnav li.animate:nth-child(1) {
  animation-delay: 0.15s;
}
#mainnav li.animate:nth-child(1) {
  animation-delay: 0.3s;
}
#mainnav li.animate:nth-child(1) {
  animation-delay: 0.45s;
}

#mainnav img {
  width: 2rem;
}

#mainnav span {
  color:var(--kg-text-terciary);
  padding: 0.4em;
  margin-left: 0.7em;
  border-radius: 0.2em;
  font-size: 1rem;
  transition: 0.8s;
  background: var(--kg-color-primary);
  opacity: 0;
  position: relative;
  bottom: 8px;
  left: 5px;
}
#mainnav span:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  left: -.4em;
  top: 50%;
  margin-top: -.5em;
  border-style: solid;
  border-width: .5em .5em .5em 0;
  border-color: transparent var(--kg-text-terciary) transparent transparent;
}

@keyframes easeOutBounce {
  0% {
    font-size: 0;
  }
  37% {
    font-size: 1.5em;
  }
  55% {
    font-size: 1.4em;
  }
  73% {
    font-size: 1.7em;
  }
  82% {
    font-size: 1.6em;
  }
  91% {
    font-size: 1.7em;
  }
  96% {
    font-size: 1.6em;
  }
  100% {
    font-size: 1.7em;
    opacity: 1;
  }
}

.dark {
  background-color: var(--kg-bg-terciary);
  color: var(--kg-text-primary);
}