.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  background-color: var(--kg-bg-primary) ;
  color: var(--kg-text-terciary);
  text-align: center;
  padding: 10px 60px;
  bottom: 0;
  width: 100%;
  font-size: var(--kg-font-size-text);
  position: fixed;
}

.dark {
  background-color: var(--kg-bg-terciary);
  color: var(--kg-text-primary);
}

.footer a {
  text-decoration: none;
  margin: 0 10px;
  color: var(--kg-text-secondary);
}

.footer-logo,
.footer-menu,
.footer-social {
  text-align: center;
  display: flex;
}

.footer-logo img {
  width: 5rem;
}

.footer-menu{
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer-menu a{
  text-decoration: none;
  }

.footer-menu a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.footer-social{
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.social-icon {
  width: 2rem;
}




